<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p class="footer-link"><i class="fab fa-lg fa-pagelines"></i>&nbsp;<a href="https://blog.tetetratra.net">blog.tetetratra.net</a></p>
        <p class="footer-link"><i class="fas fa-leaf"></i>&nbsp;<a href="https://tetetratra.net">tetetratra.net</a></p>
      </div>
    </div>
  </div>
</footer>
